
@{
    ViewBag.Title = "Index";
}

@* These are the references to the jQuery and Bootstrap libraries *@
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript">

    // This function will be called when the page is loaded
    $(document).ready(function () {
        ReadProducts();
    });

    // This function will load all the products from the database
    function ReadProducts() {
        // This is the AJAX call to the server. It will call the GetProductsController method in the ProductController
        $.ajax({
            url: "/Product/ReadProductsController",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                var html = '';
                $.each(response, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ProductName + '</td>';
                    html += '<td>' + item.ProductDescription + '</td>';
                    html += '<td>' + item.ProductPrice + '</td>';
                    html += '<td>' + item.ProductQuantity + '</td>';
                    html += '<td>' + item.ProductCategory + '</td>';
                    html += '<td>' + item.ProductSupplier + '</td>';
                    html += '<td><a class="record-action" href="#" onclick="ReadProductById(' + (item.ProductId || '') + ')">Edit</a> | <a class="record-action record-action__delete" href="#" onClick="DeleteProduct(' + (item.ProductId || '') + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }

    function ReadProductById(productId) {
        $.ajax({
            url: "/Product/ReadProductByIdController/" + productId,
            type: "GET",
            data: { productId: productId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $('#product-id').val(response.ProductId);
                $('#product-name').val(response.ProductName)
                $('#product-description').val(response.ProductDescription);
                $('#product-price').val(response.ProductPrice);
                $('#product-quantity').val(response.ProductQuantity);
                $('#product-category').val(response.ProductCategory);
                $('#product-supplier').val(response.ProductSupplier);

                $('#myModal').modal('show');
                $('#update-button').show();
                $('#create-button').hide();
            },
            error: function (errormessage) {
            }
        });
    }

    // This function will be called when the user clicks on the "Add" button
    function CreateProduct() {
        var productObject = {
            ProductName: $('#product-name').val(),
            ProductDescription: $('#product-description').val(),
            ProductPrice: $('#product-price').val(),
            ProductQuantity: $('#product-quantity').val(),
            ProductCategory: $('#product-category').val(),
            ProductSupplier: $('#product-supplier').val()
        }

        // This is the AJAX call to the server. It will call the CreateProductController method in the ProductController
        $.ajax({
            url: "/Product/CreateProductController",
            type: "POST",
            data: JSON.stringify(productObject),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response == true) {

                    // This function will load all the products from the database
                    ReadProducts();

                    $('#update-button').hide();
                    $('#create-button').show();
                    $('#myModal').modal('hide');
                    $('.modal-backdrop').remove();
                }
                else {
                    $('#error-message').text('Please verify your input');
                }
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        })
    }

    // This function will clear the textboxes in the modal
    function ClearInputs() {
        $('#create-button').show();
        $('#update-button').hide();

        ProductId: $('#product-id').val("");
        ProductName: $('#product-name').val("")
        ProductDescription: $('#product-description').val("");
        ProductPrice: $('#product-price').val("");
        ProductQuantity: $('#product-quantity').val("");
        ProductCategory: $('#product-category').val("");
        ProductSupplier: $('#product-supplier').val("");
        $('#error-message').text("");
    }

    // TODO: Fix this function
    // This function will be called when the user clicks on the "Edit" button
    function UpdateProduct() {

        var productObject = {
            ProductId: $('#product-id').val(),
            ProductName: $('#product-name').val(),
            ProductDescription: $('#product-description').val(),
            ProductPrice: $('#product-price').val(),
            ProductQuantity: $('#product-quantity').val(),
            ProductCategory: $('#product-category').val(),
            ProductSupplier: $('#product-supplier').val()
        }

        console.log(productObject);

        $.ajax({
            url: "/Product/UpdateProductController",
            data: JSON.stringify(productObject),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                console.log(response);
                // This function will load all the products from the database
                ReadProducts();

                $('#myModal').modal('hide');
                $('.modal-backdrop').remove();
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        })
    }

    function DeleteProduct(productId) {
        var ans = confirm('Are you sure you want to delete this product?');
        if (ans) {
            $.ajax({
                url: "/Product/DeleteProductController/" + productId,
                data: JSON.stringify({ productId: productId }),
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    ReadProducts();
                },
                error: function (errormessage) {
                    if (errormessage.status == 401)
                        console.log('You are not authorized!');
                }
            });
        }
    }

</script>

<!-- This is the modal that will be displayed when the user clicks on the "Add" button -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    @* Product Id input *@
                    <input type="hidden" id="product-id" />
                    @* Product Name input *@
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   id="product-name" placeholder="Product Name" />
                        </div>
                    </div>
                    @* Product Description input *@
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   id="product-description" placeholder="Product Description" />
                        </div>
                    </div>
                    @* Product Price input *@
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   id="product-price" placeholder="Product Price" />
                        </div>
                    </div>
                    @* Product Quantity input *@
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   id="product-quantity" placeholder="Product Quantity" />
                        </div>
                    </div>
                    @* Product Category input *@
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   id="product-category" placeholder="Product Category" />
                        </div>
                    </div>
                    @* Product Supplier input *@
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   id="product-supplier" placeholder="Product Supplier" />
                        </div>
                    </div>
                    @* Error message paragraph *@
                    <p id="error-message"></p>
                </form>
            </div>
            <div class="modal-footer">
                @* Add Product Button *@
                <button type="button" class="btn btn-outline-primary" id="create-button" onclick="CreateProduct();">
                    Add Product
                </button>
                @* Update Product Button *@
                <button type="button" class="btn btn-outline-primary" id="update-button" onclick="UpdateProduct();">
                    Update Product
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="products-page-title">Products</h2>

    <div class="add-button-page-container">
        <!-- This is the button that will open the modal -->
        <button type="button" class="btn add-product-button" data-bs-toggle="modal" data-bs-target="#myModal" onclick="ClearInputs();">
            Add Product
        </button>
    </div>

    <!-- This is the table that will display the products -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Supplier</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody class="tbody">
            @*Trip records will be populated here*@
        </tbody>
    </table>
</div>
