<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Management</title>
	<link rel="stylesheet" href="./styles.css">
</head>

<body>
	<header>
		<div class="container">
			<nav>
				<ul>
					<h1>Furni</h1>
					<div>
						<li><a href="Index.cshtml">Home</a></li>
						<li><a href="Products.cshtml">Products</a></li>
						<li><a href="Contact.cshtml">Contact</a></li>
						<li><a href="About.cshtml">About</a></li>
					</div>
				</ul>
			</nav>
		</div>
	</header>
	
	<main>
		<div class="container">
			<div class="top-furniture-category-section">
				<h2>Top Furniture Categories</h2>
				<div class="furniture-category-container">
					<div class="furniture-category">
						<img src="../../Content/img/pexels-vecislavas-popa-1571460.jpg" alt="living room">
						<h3>Living Room</h3>
					</div>
					<div class="furniture-category">
						<img src="../../Content/img/pexels-jean-van-der-meulen-1457841.jpg" alt="dining room">
						<h3>Dining Room</h3>
					</div>
					<div class="furniture-category">
						<img src="../../Content/img/pexels-jean-van-der-meulen-1454806.jpg" alt="bedroom">
						<h3>Bedroom</h3>
					</div>
					<div class="furniture-category">
						<img src="../../Content/img/pexels-pixabay-416320.jpg" alt="office">
						<h3>Office</h3>
					</div>
				</div>
			</div>
	</main>
</body>

</html>