@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <div class="top-furniture-category-section">
            <h2>Top Furniture Categories</h2>
            <div class="furniture-category-container">
                <div class="furniture-category">
                    <img src="../../Content/img/pexels-vecislavas-popa-1571460.jpg" alt="living room">
                    <h3>Living Room</h3>
                </div>
                <div class="furniture-category">
                    <img src="../../Content/img/pexels-jean-van-der-meulen-1457841.jpg" alt="dining room">
                    <h3>Dining Room</h3>
                </div>
                <div class="furniture-category">
                    <img src="../../Content/img/pexels-jean-van-der-meulen-1454806.jpg" alt="bedroom">
                    <h3>Bedroom</h3>
                </div>
                <div class="furniture-category">
                    <img src="../../Content/img/pexels-pixabay-416320.jpg" alt="office">
                    <h3>Office</h3>
                </div>
            </div>
        </div>
    </div>
</main>